@model IEnumerable<Blog>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blog in Model)
        {
            <tr>
                <td>@blog.BlogId</td>
                <td>@blog.BlogTitle</td>
                <td>@blog.Category.CategoryName</td>
            </tr>
        }

    </tbody>
</table>